<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script src="http://api4.mapy.cz/loader.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script>Loader.load();</script>
        <script type="text/javascript">
            /*<![CDATA[*/
            Number.prototype.toHHMMSS = function () {
                var seconds = Math.floor(this),
                        hours = Math.floor(seconds / 3600);
                seconds -= hours * 3600;
                var minutes = Math.floor(seconds / 60);
                seconds -= minutes * 60;

                if (hours < 10) {
                    hours = "0" + hours;
                }
                if (minutes < 10) {
                    minutes = "0" + minutes;
                }
                if (seconds < 10) {
                    seconds = "0" + seconds;
                }
                return hours + ':' + minutes + ':' + seconds;
            };
            var layer;
            var marksLayer;
            var m;
            function route() {
                document.getElementById('result').value = "";
                var coords = [];

                latFrom = document.getElementById('fromLat').value;
                lonFrom = document.getElementById('fromLon').value;
                latTo = document.getElementById('toLat').value;
                lonTo = document.getElementById('toLon').value;
                priority = $("input[name=priority]:checked").val();
                algorithm = $("input[name=algorithm]:checked").val();
                layer.removeAll();
                marksLayer.removeAll();
                requestString = document.getElementById('url').value + "rest/route?latFrom=" + latFrom + "&lonFrom=" + lonFrom + "&latTo=" + latTo + "&lonTo=" + lonTo + "&priority=" + priority + "&algorithm=" + algorithm;
                console.log(requestString);
                $.getJSON(requestString)
                        .done(
                                function (data) {
                                    //var items = [];
                                    //$.each(data, function (key, val) {
                                    //    console.log(key + ":" + val.latitude);
                                    //items.push("<li id='" + key + "'>" + val + "</li>");
                                    //});
                                    //$("<ul/>", {
                                    //    "class": "my-new-list",
                                    //    html: items.join("")
                                    //}).appendTo("body");
                                    $.each(data.coordinates, function (key, val) {
                                        coords.push(
                                                SMap.Coords.fromWGS84(val.longitude, val.latitude)
                                                );
                                    });
                                    document.getElementById('result').value = "OK";
                                    document.getElementById('length').value = data.length / 1000;
                                    document.getElementById('time').value = data.time.toHHMMSS();
                                    document.getElementById('time_nodesearch').value = data.searchTime;
                                    document.getElementById('time_routing').value = data.routeTime;
                                    document.getElementById('time_coordinates').value = data.coordinatesTime;
                                    var g = new SMap.Geometry(SMap.GEOMETRY_POLYLINE, null, coords);
                                    layer.addGeometry(g);
                                    var cz = m.computeCenterZoom(coords, true);
                                    m.setCenterZoom(cz[0], cz[1]);
                                    var options = {};
                                    var marker = new SMap.Marker(coords[0], "Start", options);
                                    marksLayer.addMarker(marker);
                                    var marker = new SMap.Marker(coords[coords.length - 1], "Destination", options);
                                    marksLayer.addMarker(marker);
                                }
                        )
                        .fail(
                                function () {
                                    document.getElementById('result').value = "NO PATH FOUND";
                                    document.getElementById('length').value = "";
                                    document.getElementById('time').value = "";
                                    document.getElementById('time_nodesearch').value = "";
                                    document.getElementById('time_routing').value = "";
                                    document.getElementById('time_coordinates').value = "";
                                }
                        );
                //console.log("doing some stuff");
                //var centerMap = SMap.Coords.fromWGS84(midpoint.getLongitude(), midpoint.getLatitude());
            }
            ;
            function report() {
                document.getElementById('result').value = "";
                latFrom = document.getElementById('fromLat').value;
                lonFrom = document.getElementById('fromLon').value;
                latTo = document.getElementById('toLat').value;
                lonTo = document.getElementById('toLon').value;
                priority = $("input[name=priority]:checked").val();
                algorithm = $("input[name=algorithm]:checked").val();
                message = document.getElementById('message').value;
                requestString = document.getElementById('url').value + "report?latFrom=" + latFrom + "&lonFrom=" + lonFrom + "&latTo=" + latTo + "&lonTo=" + lonTo + "&priority=" + priority + "&algorithm=" + algorithm + "&message=" + encodeURIComponent(message);
                console.log(requestString);
                $.getJSON(requestString)
                        .done(
                                function (data) {
                                    document.getElementById('result').value = "REPORTED";
                                }
                        )
                        .fail(
                                function () {
                                    document.getElementById('result').value = "REPORT HAS FAILED";
                                }
                        );
            }
            ;
            /*]]>*/
        </script>
        <style type="text/css">
            input {
                width: 100%;
            }
            input[type="radio"]{
                width: 15px;
            }
        </style>
        <title>JSP Page</title>
    </head>
    <body>
        <div id="map" style="width:70%; min-height: 800px; float: left;"></div>
        <div id="right_panel" style="margin-left: 1%; margin-right: 1%; float: right; width: 28%;">
            <form>
                <fieldset>
                    <legend>Route</legend>
                    <fieldset>
                        <legend>From</legend>
                        <label for="longitude">longitude:</label>
                        <input id="fromLon" type="text" name="longitude" value="14.5131146"/>
                        <label for="latitude">latitude:</label>
                        <input id="fromLat" type="text" name="latitude" value="50.1032571"/>
                    </fieldset>
                    <fieldset>
                        <legend>To</legend>
                        <label for="longitude">longitude:</label>
                        <input id="toLon" type="text" name="longitude" value="14.3638555"/>
                        <label for="latitude">latitude:</label>
                        <input id="toLat" type="text" name="latitude" value="50.0526668"/>
                    </fieldset>
                </fieldset>
                <fieldset>
                    <legend>Options</legend>
                    <fieldset>
                        <legend>Priority</legend>
                        <input type="radio" name="priority" value="length" checked="checked"/> Length<br/>
                        <input type="radio" name="priority" value="time"/> Time<br/>
                    </fieldset>
                    <fieldset>
                        <legend>Algorithm</legend>
                        <input type="radio" name="algorithm" value="DIJKSTRA"/> Dijkstra<br/>
                        <input type="radio" name="algorithm" value="ASTAR"/> A*<br/>
                        <input type="radio" name="algorithm" value="CONTRACTION_HIERARCHIES" checked="checked"/> Contraction Hierarchies<br/>
                    </fieldset>
                </fieldset>
                <div hidden="hiden">
                    <input type="text" id="url" th:text="${url}" hidden="hidden"/>
                </div>
            </form>
            <button type="button" onClick="route()" style="width: 98%; margin: 1%;">route!</button>

            <fieldset>
                <legend>Result</legend>
                <label for="result">result:</label>
                <input id="result" type="text" name="result"/>
                <label for="length">length[km]:</label>
                <input id="length" type="text" name="length"/>
                <label for="time">time[h]:</label>
                <input id="time" type="text" name="time"/>
            </fieldset>
            <fieldset>
                <legend>Execution statistics</legend>
                <label for="time_nodesearch">Searching for nodes[ms]:</label>
                <input id="time_nodesearch" type="text" name="time_nodesearch"/>
                <label for="time_routing">Routing[ms]:</label>
                <input id="time_routing" type="text" name="time_routing"/>
                <label for="time_coordinates">Loading coordinates[ms]:</label>
                <input id="time_coordinates" type="text" name="time_coordinates"/>
            </fieldset>
            <fieldset>
                <legend>Report</legend>
                <label for="message">message:</label>
                <input id="message" type="text" name="result"/>
                <button type="button" onClick="report()" style="width: 100%; margin: 0%;">report!</button>
            </fieldset>
        </div>
        <script type="text/javascript">
            /*<![CDATA[*/
            $(document).ready(function () {
                var first = true;
                m = new SMap(JAK.gel("map"));
                var l = m.addDefaultLayer(SMap.DEF_BASE).enable();
                m.addDefaultControls();
                layer = new SMap.Layer.Geometry();
                m.addLayer(layer).enable();
                marksLayer = new SMap.Layer.Marker();
                m.addLayer(marksLayer);
                marksLayer.enable();

                function click(e, elm) {
                    var coords = SMap.Coords.fromEvent(e.data.event, m);
                    //alert("Kliknuto na " + coords.toWGS84(2).reverse().join(" "));
                    //console.log(coords.toWGS84(0));
                    //console.log(coords.toWGS84(1));
                    //console.log(coords.toWGS84(2));
                    var lon = coords.toWGS84(0)[0];
                    //console.log(lon.substring(0, lon.length - 2));
                    var lat = coords.toWGS84(0)[1];
                    //console.log(lat.substring(0, lat.length - 2));

                    var options = {};
                    if (first) {
                        document.getElementById('fromLat').value = lat.substring(0, lat.length - 2);
                        document.getElementById('fromLon').value = lon.substring(0, lon.length - 2);
                        var marker = new SMap.Marker(coords, "Start", options);
                        marksLayer.removeAll();
                        marksLayer.addMarker(marker);
                        first = false;
                    } else {
                        document.getElementById('toLat').value = lat.substring(0, lat.length - 2);
                        document.getElementById('toLon').value = lon.substring(0, lon.length - 2);
                        var marker = new SMap.Marker(coords, "Destination", options);
                        marksLayer.addMarker(marker);
                        route();
                        first = true;
                    }
                }
                m.getSignals().addListener(window, "map-click", click);
            });
            /*]]>*/
        </script>
    </body>
</html>
